<template name="Footer">
    <footer>
        <div class="container">
            <div class="row">
                <p class="pull-left">&copy; 2017 DeepDen</p>
                <div class="footer-menu">
                    <ul class="list-inline pull-right">
                        <li><a href="">About</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Developers</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>