<template name="Home">    

    <section class="hero">
        <div class="content">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Organize and showcase your works like never before.</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>
            </div>
          </div>
        </div>
    </section>
    
</template>